CONFIG VCCAUX  = 3.3;
#
NET "Clk" TNM_NET = "Clk";
#
# Keep Hierarchy = Yes, Netlist = Rebuilt
#
#TIMESPEC TS_Clk = PERIOD "Clk" 30.000 ns HIGH 50%;      # -4,  33.3333 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 27.500 ns HIGH 50%;      # -4,  36.3636 MHz
#
# Keep Hierarchy = NO, Netlist = Rebuilt
#
#TIMESPEC TS_Clk = PERIOD "Clk" 25.000 ns HIGH 50%;      # -4,  40.0000 MHz
TIMESPEC TS_Clk = PERIOD "Clk" 22.500 ns HIGH 50%;      # -4,  44.4444 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 20.833 ns HIGH 50%;      # -4,  48.0000 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 20.000 ns HIGH 50%;      # -4,  50.0000 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 19.230 ns HIGH 50%;      # -4,  52.0000 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 18.000 ns HIGH 50%;      # -4,  55.5555 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 17.857 ns HIGH 50%;      # -4,  56.0000 MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 17.500 ns HIGH 50%;      # -4,  57.1428 MHz
##
#INST "ClkGen" AREA_GROUP=ClkGen;
#AREA_GROUP ClkGen RANGE=SLICE_X24Y56:SLICE_X27Y63;
##
INST "Core" AREA_GROUP = "Core";
AREA_GROUP "Core" RANGE=SLICE_X4Y8:SLICE_X19Y23;
#
INST "Core/Mrom__varindex0000" LOC=RAMB16_X0Y2;
INST "Core/Mrom__varindex0001" LOC=RAMB16_X0Y1;
##
#INST "ROM/Mram_BRAM" LOC=RAMB16_X1Y5;
##
#INST "RAM_A/Mram_BRAM8" LOC=RAMB16_X0Y2;
#INST "RAM_A/Mram_BRAM7" LOC=RAMB16_X0Y1;
#INST "RAM_A/Mram_BRAM6" LOC=RAMB16_X0Y0;
#INST "RAM_A/Mram_BRAM5" LOC=RAMB16_X1Y0;
#INST "RAM_A/Mram_BRAM4" LOC=RAMB16_X1Y1;
#INST "RAM_A/Mram_BRAM3" LOC=RAMB16_X1Y2;
#INST "RAM_A/Mram_BRAM2" LOC=RAMB16_X1Y3;
#INST "RAM_A/Mram_BRAM1" LOC=RAMB16_X1Y4;
##
#INST "RAM_B/Mram_BRAM4" LOC=RAMB16_X0Y5;
#INST "RAM_B/Mram_BRAM3" LOC=RAMB16_X0Y6;
#INST "RAM_B/Mram_BRAM2" LOC=RAMB16_X0Y7;
#INST "RAM_B/Mram_BRAM1" LOC=RAMB16_X1Y7;
##
#INST "COM_A" AREA_GROUP=COM_A;
#AREA_GROUP COM_A RANGE=SLICE_X16Y8:SLICE_X24Y29;
##
#INST "SPI_A" AREA_GROUP=SPI_A;
#AREA_GROUP SPI_A RANGE=SLICE_X24Y0:SLICE_X27Y29;
##
#INST "COM_B" AREA_GROUP=COM_B;
#AREA_GROUP COM_B RANGE=SLICE_X16Y34:SLICE_X24Y55;
##
#################################################################################
##
##   Pin Placements
##
#################################################################################
##
#NET "nRst"    LOC = "P82" | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET "ClkIn"   LOC = "P88" | IOSTANDARD = "LVCMOS33";
##
#NET "nRstO"   LOC = "P83" | IOSTANDARD = "LVCMOS33" | PULLUP;
##
#NET "Phi1O"   LOC = "P13" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "Phi2O"   LOC = "P12" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
##
#NET "BE_In"   LOC = "P68" | IOSTANDARD = "LVCMOS33" | PULLUP;
##
#NET "nNMI"    LOC = "P21" | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET "nIRQ"    LOC = "P7"  | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET "nVP"     LOC = "P6"  | IOSTANDARD = "LVCMOS33";
##
#NET "nWAI"    LOC = "P48" | IOSTANDARD = "LVCMOS33";
##
#NET "Sync"    LOC = "P3"  | IOSTANDARD = "LVCMOS33";
#NET "nML"     LOC = "P4"  | IOSTANDARD = "LVCMOS33";
##
#NET "nCE<3>"  LOC = "P73" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nCE<2>"  LOC = "P72" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nCE<1>"  LOC = "P71" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nCE<0>"  LOC = "P70" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#
#NET "RnW"     LOC = "P10" | IOSTANDARD = "LVCMOS33";
#NET "nOE"     LOC = "P15" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nWE"     LOC = "P16" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "Rdy"     LOC = "P5"  | IOSTANDARD = "LVCMOS33" | PULLUP;
##
#NET "XA<3>"   LOC = "P23" | IOSTANDARD = "LVCMOS33";
#NET "XA<2>"   LOC = "P24" | IOSTANDARD = "LVCMOS33";
#NET "XA<1>"   LOC = "P25" | IOSTANDARD = "LVCMOS33";
#NET "XA<0>"   LOC = "P28" | IOSTANDARD = "LVCMOS33";
#
#NET "A<15>"   LOC = "P29" | IOSTANDARD = "LVCMOS33";
#NET "A<14>"   LOC = "P30" | IOSTANDARD = "LVCMOS33";
#NET "A<13>"   LOC = "P31" | IOSTANDARD = "LVCMOS33";
#NET "A<12>"   LOC = "P32" | IOSTANDARD = "LVCMOS33";
#NET "A<11>"   LOC = "P33" | IOSTANDARD = "LVCMOS33";
#NET "A<10>"   LOC = "P34" | IOSTANDARD = "LVCMOS33";
#NET "A<9>"    LOC = "P35" | IOSTANDARD = "LVCMOS33";
#NET "A<8>"    LOC = "P36" | IOSTANDARD = "LVCMOS33";
#NET "A<7>"    LOC = "P56" | IOSTANDARD = "LVCMOS33";
#NET "A<6>"    LOC = "P57" | IOSTANDARD = "LVCMOS33";
#NET "A<5>"    LOC = "P59" | IOSTANDARD = "LVCMOS33";
#NET "A<4>"    LOC = "P60" | IOSTANDARD = "LVCMOS33";
#NET "A<3>"    LOC = "P61" | IOSTANDARD = "LVCMOS33";
#NET "A<2>"    LOC = "P62" | IOSTANDARD = "LVCMOS33";
#NET "A<1>"    LOC = "P64" | IOSTANDARD = "LVCMOS33";
#NET "A<0>"    LOC = "P65" | IOSTANDARD = "LVCMOS33";
#
#NET "DB<7>"   LOC = "P37" | IOSTANDARD = "LVCMOS33";
#NET "DB<6>"   LOC = "P40" | IOSTANDARD = "LVCMOS33";
#NET "DB<5>"   LOC = "P41" | IOSTANDARD = "LVCMOS33";
#NET "DB<4>"   LOC = "P43" | IOSTANDARD = "LVCMOS33";
#NET "DB<3>"   LOC = "P44" | IOSTANDARD = "LVCMOS33";
#NET "DB<2>"   LOC = "P49" | IOSTANDARD = "LVCMOS33";
#NET "DB<1>"   LOC = "P50" | IOSTANDARD = "LVCMOS33";
#NET "DB<0>"   LOC = "P52" | IOSTANDARD = "LVCMOS33";
##
#NET "TxD_A"   LOC = "P90" | IOSTANDARD = "LVCMOS33";
#NET "RxD_A"   LOC = "P93" | IOSTANDARD = "LVCMOS33";
#NET "nRTS_A"  LOC = "P94" | IOSTANDARD = "LVCMOS33";
#NET "nCTS_A"  LOC = "P98" | IOSTANDARD = "LVCMOS33";
#NET "DE_A"    LOC = "P89" | IOSTANDARD = "LVCMOS33";
##
#NET "TxD_B"   LOC = "P85" | IOSTANDARD = "LVCMOS33";
#NET "RxD_B"   LOC = "P84" | IOSTANDARD = "LVCMOS33";
#NET "nRTS_B"  LOC = "P78" | IOSTANDARD = "LVCMOS33";
#NET "nCTS_B"  LOC = "P77" | IOSTANDARD = "LVCMOS33";
#NET "DE_B"    LOC = "P86" | IOSTANDARD = "LVCMOS33";
##
##NET "nCSO<2>" LOC = "P19" | IOSTANDARD = "LVCMOS33";
#NET "nCSO<1>" LOC = "P20" | IOSTANDARD = "LVCMOS33";
#NET "nCSO<0>" LOC = "P27" | IOSTANDARD = "LVCMOS33";
#NET "SCK"     LOC = "P53" | IOSTANDARD = "LVCMOS33";
#NET "MOSI"    LOC = "P46" | IOSTANDARD = "LVCMOS33";
#NET "MISO"    LOC = "P51" | IOSTANDARD = "LVCMOS33";
##
#NET  "nCore"  LOC = "P19" | IOSTANDARD = "LVCMOS33" | PULLUP;
##NET "nSO"    LOC = "P97" | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET "nWP"     LOC = "P39" | IOSTANDARD = "LVCMOS33" | PULLUP;
##
