CONFIG VCCAUX=3.3;
#
NET "Clk" TNM_NET = Clk;
#
#TIMESPEC TS_Clk = PERIOD "Clk" 44.444 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 43.500 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 43.000 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 41.666 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 40.000 ns HIGH 50%;  # XC3S200A-4 25.0000MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 39.000 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 37.735 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 36.363 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 34.150 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 33.908 ns HIGH 50%;  # XC3S200A-5 29.4912MHz
TIMESPEC TS_Clk = PERIOD "Clk" 33.333 ns HIGH 50%;  # XC3S200A-5 30.0000MHz
#TIMESPEC TS_Clk = PERIOD "Clk" 33.000 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 32.875 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 32.750 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 32.500 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 32.000 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 31.500 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 31.250 ns HIGH 50%;
#
#TIMESPEC TS_Clk = PERIOD "Clk" 27.500 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 25.000 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 22.727 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 21.739 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 20.833 ns HIGH 50%;
#
################################################################################
#
#   UCF for 1040-0001rA Board
#
################################################################################
#
INST "uP" AREA_GROUP=uP;
AREA_GROUP uP RANGE=SLICE_X0Y8:SLICE_X21Y51;
#
INST "M65C02A" AREA_GROUP=Primitives;
AREA_GROUP Primitives RANGE=SLICE_X0Y8:SLICE_X31Y51;
#
INST "MAP" AREA_GROUP=MMU;
AREA_GROUP MMU RANGE=SLICE_X22Y12:SLICE_X23Y43;
#
INST "IntHndlr" AREA_GROUP=IntHndlr;
AREA_GROUP IntHndlr RANGE=SLICE_X24Y22:SLICE_X25Y35;
#
INST "SPI0" AREA_GROUP=SPI0;
AREA_GROUP SPI0 RANGE=SLICE_X26Y22:SLICE_X31Y35;
#
INST "COM0" AREA_GROUP=COM0;
AREA_GROUP COM0 RANGE=SLICE_X24Y0:SLICE_X31Y21;
#
INST "COM1" AREA_GROUP=COM1;
AREA_GROUP COM1 RANGE=SLICE_X24Y36:SLICE_X31Y57;
##
#INST "uP/uPgm/ROM"   LOC=RAMB16_X0Y3;
#INST "uP/IDEC/ROM"   LOC=RAMB16_X0Y2;
##
INST "uP/Mrom__varindex0001"   LOC=RAMB16_X0Y3;
INST "uP/Mrom__varindex0000"   LOC=RAMB16_X0Y2;
#
INST "MON/Mram_BRAM2"  LOC=RAMB16_X1Y3;
INST "MON/Mram_BRAM1"  LOC=RAMB16_X1Y2;
#
INST "ROM1/Mram_BRAM2"  LOC=RAMB16_X1Y1;
INST "ROM1/Mram_BRAM1"  LOC=RAMB16_X1Y0;
#
INST "ROM0/Mram_BRAM2"  LOC=RAMB16_X0Y1;
INST "ROM0/Mram_BRAM1"  LOC=RAMB16_X0Y0;
#
INST "RAM/Mram_BRAM8"  LOC=RAMB16_X1Y7;
INST "RAM/Mram_BRAM7"  LOC=RAMB16_X1Y6;
INST "RAM/Mram_BRAM6"  LOC=RAMB16_X1Y5;
INST "RAM/Mram_BRAM5"  LOC=RAMB16_X1Y4;
INST "RAM/Mram_BRAM4"  LOC=RAMB16_X0Y7;
INST "RAM/Mram_BRAM3"  LOC=RAMB16_X0Y6;
INST "RAM/Mram_BRAM2"  LOC=RAMB16_X0Y5;
INST "RAM/Mram_BRAM1"  LOC=RAMB16_X0Y4;
#
################################################################################
################################################################################
#
#   UCF for M65C02/M16C5x Development Board: 1004-0001rA
#
################################################################################
################################################################################
#
NET "DB<0>"  LOC = "P52" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "DB<1>"  LOC = "P50" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "DB<2>"  LOC = "P49" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "DB<3>"  LOC = "P44" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "DB<4>"  LOC = "P43" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "DB<5>"  LOC = "P41" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "DB<6>"  LOC = "P40" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "DB<7>"  LOC = "P37" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<0>"  LOC = "P65" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<1>"  LOC = "P64" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<2>"  LOC = "P62" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<3>"  LOC = "P61" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<4>"  LOC = "P60" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<5>"  LOC = "P59" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<6>"  LOC = "P57" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<7>"  LOC = "P56" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<8>"  LOC = "P36" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<9>"  LOC = "P35" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<10>" LOC = "P34" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<11>" LOC = "P33" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<12>" LOC = "P32" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<13>" LOC = "P31" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<14>" LOC = "P30" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "AB<15>" LOC = "P29" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#
NET "XA<0>"  LOC = "P28" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "XA<1>"  LOC = "P25" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "XA<2>"  LOC = "P24" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "XA<3>"  LOC = "P23" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#
NET "nCE<0>" LOC = "P70" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "nCE<1>" LOC = "P71" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "nCE<2>" LOC = "P72" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "nCE<3>" LOC = "P73" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#
#NET "RnW"    LOC = "P10" | IOSTANDARD = "LVCMOS33";
NET "nRD"    LOC = "P15" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "nWR"    LOC = "P16" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "Sync"   LOC = "P3"  | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "nML"    LOC = "P4"  | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
NET "nWait"  LOC = "P5"  | IOSTANDARD = "LVCMOS33" | PULLUP;
#
NET "Clk"    LOC = "P88" | IOSTANDARD = "LVCMOS33";
#
#NET "Phi1O"  LOC = "P13" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "Phi2O"  LOC = "P12" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#
NET "nRst"   LOC = "P82" | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET "BE_In"  LOC = "P68" | IOSTANDARD = "LVCMOS33" | PULLUP;
NET "nSO"    LOC = "P97" | IOSTANDARD = "LVCMOS33" | PULLUP;
NET "nNMI"   LOC = "P21" | IOSTANDARD = "LVCMOS33" | PULLUP;
NET "nIRQ"   LOC = "P7"  | IOSTANDARD = "LVCMOS33" | PULLUP;
NET "nVP"    LOC = "P6"  | IOSTANDARD = "LVCMOS33";
#
#NET "nWait"  LOC = "P48" | IOSTANDARD = "LVCMOS33";
#NET "nRstO"  LOC = "P83" | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET "nWP_In" LOC = "P39" | IOSTANDARD = "LVCMOS33" | PULLUP;
#
#NET "nCS<0>" LOC = "P27" | IOSTANDARD = "LVCMOS33";
#NET "nCS<1>" LOC = "P20" | IOSTANDARD = "LVCMOS33";
#NET "nCS<2>" LOC = "P19" | IOSTANDARD = "LVCMOS33";
NET "nCS2"   LOC = "P19" | IOSTANDARD = "LVCMOS33";
#
NET "nSSEL<0>"  LOC = "P27" | IOSTANDARD = "LVCMOS33";
NET "nSSEL<1>"  LOC = "P20" | IOSTANDARD = "LVCMOS33";
#
NET "SCK"       LOC = "P53" | IOSTANDARD = "LVCMOS33";
NET "MOSI"      LOC = "P46" | IOSTANDARD = "LVCMOS33";
NET "MISO"      LOC = "P51" | IOSTANDARD = "LVCMOS33";
#
NET "COM0_TxD"  LOC = "P90" | IOSTANDARD = "LVCMOS33";
NET "COM0_RxD"  LOC = "P93" | IOSTANDARD = "LVCMOS33";
NET "COM0_nRTS" LOC = "P94" | IOSTANDARD = "LVCMOS33";
NET "COM0_nCTS" LOC = "P98" | IOSTANDARD = "LVCMOS33";
NET "COM0_DE"   LOC = "P89" | IOSTANDARD = "LVCMOS33";
#
NET "COM1_TxD"  LOC = "P85" | IOSTANDARD = "LVCMOS33";
NET "COM1_RxD"  LOC = "P84" | IOSTANDARD = "LVCMOS33";
NET "COM1_nRTS" LOC = "P78" | IOSTANDARD = "LVCMOS33";
NET "COM1_nCTS" LOC = "P77" | IOSTANDARD = "LVCMOS33";
NET "COM1_DE"   LOC = "P86" | IOSTANDARD = "LVCMOS33";
#
################################################################################
################################################################################
#
#   UCF for Chameleon Board
#
################################################################################
################################################################################
##
#NET "nRst"          LOC = "P83" | IOSTANDARD = "LVCMOS33" | PULLUP;
##NET "OscIn"         LOC = "P88" | IOSTANDARD = "LVCMOS33";  # 48 MHz
#NET "Clk"           LOC = "P85" | IOSTANDARD = "LVCMOS33";  # 29.4912 MHz
##
#NET "nCE<0>"        LOC = "P73" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nCE<1>"        LOC = "P9"  | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nCE<2>"        LOC = "P10" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nCE<3>"        LOC = "P12" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
##
#NET "nRD"           LOC = "P78" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nWR"           LOC = "P90" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "Sync"          LOC = "P3"  | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nML"           LOC = "P4"  | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "RdyIn"         LOC = "P5"  | IOSTANDARD = "LVCMOS33" | PULLUP;
##
#NET "nNMI"          LOC = "P82" | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET "nIRQ"          LOC = "P97" | IOSTANDARD = "LVCMOS33" | PULLUP;
#NET "nVP"           LOC = "P6"  | IOSTANDARD = "LVCMOS33";
##
#NET "nSO"           LOC = "P39" | IOSTANDARD = "LVCMOS33" | PULLUP;
##
#NET "XA<0>"         LOC = "P37" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "XA<1>"         LOC = "P13" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "XA<2>"         LOC = "P15" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "XA<3>"         LOC = "P16" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
##
#NET "AB<15>"        LOC = "P84" | IOSTANDARD = "LVCMOS33";
#NET "AB<14>"        LOC = "P40" | IOSTANDARD = "LVCMOS33";
#NET "AB<13>"        LOC = "P93" | IOSTANDARD = "LVCMOS33";
#NET "AB<12>"        LOC = "P41" | IOSTANDARD = "LVCMOS33";
#NET "AB<11>"        LOC = "P99" | IOSTANDARD = "LVCMOS33";
#NET "AB<10>"        LOC = "P77" | IOSTANDARD = "LVCMOS33";
#NET "AB<9>"         LOC = "P98" | IOSTANDARD = "LVCMOS33";
#NET "AB<8>"         LOC = "P94" | IOSTANDARD = "LVCMOS33";
#NET "AB<7>"         LOC = "P43" | IOSTANDARD = "LVCMOS33";
#NET "AB<6>"         LOC = "P44" | IOSTANDARD = "LVCMOS33";
#NET "AB<5>"         LOC = "P49" | IOSTANDARD = "LVCMOS33";
#NET "AB<4>"         LOC = "P50" | IOSTANDARD = "LVCMOS33";
#NET "AB<3>"         LOC = "P52" | IOSTANDARD = "LVCMOS33";
#NET "AB<2>"         LOC = "P56" | IOSTANDARD = "LVCMOS33";
#NET "AB<1>"         LOC = "P57" | IOSTANDARD = "LVCMOS33";
#NET "AB<0>"         LOC = "P59" | IOSTANDARD = "LVCMOS33";
##
#NET "DB<7>"         LOC = "P72" | IOSTANDARD = "LVCMOS33";
#NET "DB<6>"         LOC = "P71" | IOSTANDARD = "LVCMOS33";
#NET "DB<5>"         LOC = "P70" | IOSTANDARD = "LVCMOS33";
#NET "DB<4>"         LOC = "P65" | IOSTANDARD = "LVCMOS33";
#NET "DB<3>"         LOC = "P64" | IOSTANDARD = "LVCMOS33";
#NET "DB<2>"         LOC = "P62" | IOSTANDARD = "LVCMOS33";
#NET "DB<1>"         LOC = "P61" | IOSTANDARD = "LVCMOS33";
#NET "DB<0>"         LOC = "P60" | IOSTANDARD = "LVCMOS33";
##
#NET "COM0_TxD"      LOC = "P33" | IOSTANDARD = "LVCMOS33";
#NET "COM0_RxD"      LOC = "P34" | IOSTANDARD = "LVCMOS33";
#NET "COM0_nRTS"     LOC = "P32" | IOSTANDARD = "LVCMOS33";
#NET "COM0_nCTS"     LOC = "P31" | IOSTANDARD = "LVCMOS33";
##
##NET "TxD_RS485_A"   LOC = "P35" | IOSTANDARD = "LVCMOS33";
##NET "RxD_RS485_A"   LOC = "P39" | IOSTANDARD = "LVCMOS33";
##
#NET "COM0_DE"       LOC = "P36" | IOSTANDARD = "LVCMOS33";
##
#NET "COM1_TxD"      LOC = "P20" | IOSTANDARD = "LVCMOS33";
#NET "COM1_RxD"      LOC = "P21" | IOSTANDARD = "LVCMOS33";
#NET "COM1_nRTS"     LOC = "P19" | IOSTANDARD = "LVCMOS33";
#NET "COM1_nCTS"     LOC = "P7"  | IOSTANDARD = "LVCMOS33";
##
##NET "TxD_RS485_B"   LOC = "P24" | IOSTANDARD = "LVCMOS33";
##NET "RxD_RS485_B"   LOC = "P29" | IOSTANDARD = "LVCMOS33";
##
#NET "COM1_DE"       LOC = "P23" | IOSTANDARD = "LVCMOS33";
##
#NET "nSSEL<0>"      LOC = "P27" | IOSTANDARD = "LVCMOS33";
#NET "nSSEL<1>"      LOC = "P28" | IOSTANDARD = "LVCMOS33";
##
#NET "SCK"           LOC = "P53" | IOSTANDARD = "LVCMOS33";
#NET "MOSI"          LOC = "P46" | IOSTANDARD = "LVCMOS33";
#NET "MISO"          LOC = "P51" | IOSTANDARD = "LVCMOS33";
###
##NET "nWP"           LOC = "P68" | IOSTANDARD = "LVCMOS33" | PULLUP;
###
