CONFIG VCCAUX=3.3;
#
NET "Clk" TNM_NET = Clk;
#
TIMESPEC TS_Clk = PERIOD "Clk" 25.150 ns HIGH 50%;
#TIMESPEC TS_Clk = PERIOD "Clk" 24.500 ns HIGH 50%;
#
INST "uP" AREA_GROUP=uP;
AREA_GROUP uP RANGE=SLICE_X4Y8:SLICE_X27Y39;
#
INST "uP/Mrom__varindex0001"  LOC=RAMB16_X1Y3;
INST "uP/Mrom__varindex0000"  LOC=RAMB16_X1Y2;
